@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

/* welcome loader styles */
@keyframes loader {
  0%, 100% { width: 0%; left: 0; right: auto; }
  50% { width: 100%; }
}

.animate-loader {
  animation: loader 1s ease-in-out infinite;
}

/* #001F3F
#CC0000 */

::selection{
  background-color:#CC0000 ;
  color: white;
}

li{
  list-style: none;
}